@model WatchListViewModel

@{
    //If WatchList is null, then this will evaluate to false - i.e the string will be assigned to "invisible"
    string visibility = Model?.WatchLists?.Count() > 0 ? "visible" : "invisible";
    bool noWatchlistCreated = Model?.WatchLists?.Count() == 0 ? true : false;
    bool watchListSelected = Model?.WatchListMovies == null ? false : true;
    bool watchListIsEmpty = Model?.WatchListMovies?.Count() == 0 ? true : false;
}

<div class="container-fluid m-2">
    <div class="row">
        <div class="col-4">
            <div class="card text-center border border-2 border-dark">
                <div class="card-body">
                    <h2 class="card-title">CREATE NEW WATCHLIST</h2>
                    <a asp-action="CreateWatchList" class="btn btn-primary btn-lg">CREATE</a>
                 </div>
            </div>
            <partial name="_SelectWatchListPartial" model="@Model?.WatchLists">
            @if(watchListSelected && !watchListIsEmpty)
                {
                <div class="card text-center border border-2 border-dark mt-2">
                    <div class="card-body">
                        <h2 class="card-title">WOULD YOU LIKE TO DELETE THIS WATCHLIST</h2>
                            <a asp-action="DeleteWatchListGet" asp-route-id="@Model?.WatchListMovies?.ElementAt(0).WatchListId" class="btn btn-danger btn-lg">DELETE</a>
                    </div>
                </div>
            }
        </div>

        <div class="col">
            @if (watchListSelected && !watchListIsEmpty)
            {
                <h2 class="text-dark text-center p-2" style="background-color: gold">
                    <b>@Model?.WatchListMovies?.ElementAt(0)?.WatchList?.Title.ToUpper()</b>
                </h2>
                <h5 class="text-white text-center p-2" style="background-color: black">
                    Movies to watch
                </h5>
                <table class="table table-sm table-striped table-bordered">
                    <thead>
                        <tr>
                            <th id="title">Title</th>
                            <th>Genre</th>
                            <th>MPAA</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (WatchListMovies watchListMovie in Model?.WatchListMovies?.Where(x => x.Watched == false) ?? Enumerable.Empty<WatchListMovies>())
                    {
                        <tr class="test">
                            <td class="hideRow">@watchListMovie.WatchListId</td>
                            <td class="hideRow">@watchListMovie.MovieId</td>
                            <td>@watchListMovie.Movie?.Title</td>
                            <td>@watchListMovie.Movie?.Genre?.Name</td>
                            <td>@watchListMovie.Movie?.Mpaa?.Title</td>
                            <td class="text-center">
                                <form asp-action="UpdateMovieAsWatched" method="post">
                                    <input type="hidden" name="watchListId" value="@watchListMovie.WatchListId" />
                                    <input type="hidden" name="movieId" value="@watchListMovie.MovieId" />
                                    <button type="submit" class="btn btn-success btn-sm">Set as watched</button>
                                </form>
                            </td>
                            <td class="text-center"><button type="button" class="btn btn-primary btn-sm infoclick">Show Info</button></td>
                        </tr>
                        <tr class="hideRow">
                                <partial name="_InfoPartial" model="@watchListMovie.Movie">
                        </tr>
                    }
                    </tbody>
                </table>

                <h5 class="text-white text-center p-2" style="background-color: black">
                    Movies watched
                </h5>
                <table class="table table-sm table-striped table-bordered">
                    <thead>
                        <tr>
                            <th id="title">Title</th>
                            <th>Genre</th>
                            <th>MPAA</th>
                            <th>My rating</th>
                        </tr>
                    </thead>
                    <tbody class="watchedtable">
                        @foreach (WatchListMovies watchListMovie in Model?.WatchListMovies?.Where(a => a.Watched == true) ?? Enumerable.Empty<WatchListMovies>())
                        {
                            <form method="get" action="EditMyRating">
                                <input type="hidden" name="watchListId" value="@watchListMovie.WatchListId" />
                                <input type="hidden" name="movieId" value="@watchListMovie.MovieId" />
                                <tr class="test">
                                    <td class="hideRow">@watchListMovie.MovieId</td>
                                    <td>@watchListMovie.Movie?.Title</td>
                                    <td>@watchListMovie.Movie?.Genre?.Name</td>
                                    <td>@watchListMovie.Movie?.Mpaa?.Title</td>
                                    <td>@watchListMovie.Rating</td>
                                    <td class="text-center"><button type="submit" class="btn btn-primary btn-sm editButton">Edit rating</button></td>
                                    <td class="text-center"><button type="button" class="btn btn-primary btn-sm infoclick">Show Info</button></td>
                                </tr>
                                <tr class="hideRow">
                                    <partial name="_InfoPartial" model="@watchListMovie.Movie">
                                </tr>
                            </form>
                        }
                    </tbody>
                </table>
            }
            else if (watchListIsEmpty)
            {
                <div class="card text-center border border-2 border-dark">
                    <div class="card-body">
                        <h1 class="card-title">WATCHLIST IS EMPTY</h1>
                    </div>
                </div>
            }
            else if (noWatchlistCreated) 
            {
                <img src="/img/You Shall Create A Watchlist.png" alt="You Shall Create A Watchlist"
                    width="750" height="500" class="col offset-1 mt-3">
            }
            else 
            {
                <div class="card text-center border border-2 border-dark">
                    <div class="card-body">
                        <h1 class="card-title">PLEASE SELECT WATCHLIST</h1>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {

        $("#selectWatchList").change(function () {
            $("#selectWatchListForm").submit();
        });

        $(".infoclick").click(function () {
            $(this).parent().parent().next().toggle();
            $(this).text($(this).text() == "Hide Info" ? "Show Info" : "Hide Info");
        });

    });
</script>