@model IEnumerable<Movie>

<div class="container-fluid m-2">
    <div class="row">
        <div class="col-4">Hey</div>
        <div class="col">
            <h6 class="bg-secondary text-white text-center p-2">Movies</h6>
            <table class="table table-sm table-striped table-bordered">
                <thead>
                    <tr>
                        <th id="title">Title</th>
                        <th>Genre</th>
                        <th>MPAA</th>
                    </tr>
                </thead>

                @foreach (var movie in Model)
                {
                    <tbody>
                        <tr class="test">
                            <td class="hideRow">@movie.MovieId</td>
                            <td>@movie.Title</td>
                            <td>@movie.Genre?.Name</td>
                            <td>@movie.Mpaa?.Title</td>
                            <td><button type="button" class="btn btn-primary btn-sm infoclick">Show Info</button></td>
                            <td><button type="submit" class="btn btn-success btn-sm addclick">Add to watchlist</button></td>
                        </tr>
                        <tr class="hideRow">
                            <partial name="_InfoPartial" model="@movie">
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </div>
</div>





<script>
    $(document).ready(function () {

        $(".infoclick").click(function () {
            $(this).parent().parent().siblings().toggle();
            $(this).text($(this).text() == "Hide Info" ? "Show Info" : "Hide Info");
        })


        $(".addclick").click(function () {
            var $currentBtn = $(this);
            $.ajax({
                type: "POST",
                url: "@Url.Action("AddMovieToWatchList", "Create")",
                dataType: "json",
                data: { movieId: $(this).parent().siblings('td').first().text() },
                success: function (result) {
                    console.log(result)
                    $currentBtn.replaceWith($('<p>Added &#10004;</p>'));                  
                },
                error: function (req, status, error) {
                    console.log(status)
                    console.log(req)
                    console.log(error)
                }
            });
        })


    });
</script>