@model SearchViewModel

@{
    bool aWatchListIsSelected = Model?.SelectedWatchList > 0 ? true : false;
}

<div class="container-fluid m-2">
    <div class="row">
        <div class="col-4">
            <partial name="_SelectWatchListPartial" model="@Model?.WatchLists">
        </div>
        <div class="col">
            @if (aWatchListIsSelected)
            {
                <h3 class="text-dark text-center p-2" style="background-color: gold">Movies</h3>
                <table class="table table-sm table-striped table-bordered">
                    <thead>
                        <tr>
                            <th id="title">Title</th>
                            <th>Genre</th>
                            <th>MPAA</th>
                        </tr>
                    </thead>

                    @foreach (var movie in Model?.Movies ?? Enumerable.Empty<Movie>())
                    {
                        <tbody>
                            <tr class="test">
                                <td class="hideRow">@movie.MovieId</td>
                                <td>@movie.Title</td>
                                <td>@movie.Genre?.Name</td>
                                <td>@movie.Mpaa?.Title</td>
                                <td class="text-center"><button type="button" class="btn btn-primary btn-sm infoclick">Show Info</button></td>
                                <td class="text-center"><button type="submit" class="btn btn-success btn-sm addclick">Add to watchlist</button></td>
                            </tr>
                            <tr class="hideRow">
                                <partial name="_InfoPartial" model="@movie">
                            </tr>
                        </tbody>
                    }
                </table>
            }

            else
            {
                <h1>Please select a watchlist to add movies to</h1>
            }

        </div>
    </div>
</div>





<script>
    $(document).ready(function () {

        $("#selectWatchList").change(function () {
            $("#selectWatchListForm").submit();
        });

        $(".infoclick").click(function () {
            $(this).parent().parent().siblings().toggle();
            $(this).text($(this).text() == "Hide Info" ? "Show Info" : "Hide Info");
        })


        $(".addclick").click(function () {
            var $currentBtn = $(this);
            $.ajax({
                type: "POST",
                url: "@Url.Action("AddMovieToWatchList", "Create")",
                dataType: "json",
                data: { movieId: $(this).parent().siblings('td').first().text() },
                success: function (result) {
                    console.log(result)
                    $currentBtn.replaceWith($('<p>Added &#10004;</p>'));                  
                },
                error: function (req, status, error) {
                    console.log(status)
                    console.log(req)
                    console.log(error)
                }
            });
        })
    });
</script>